/* login.css */

/* Example: If you need to adjust the form width specifically for login */
#auth-container {
    max-width: 400px;
}

/* If you need to override any heading styles */
#auth-container h1 {
    text-align: center;
    color: #d5d5d5;
    /* ... any other specific heading styles ... */
}

/* Example: Adjust paragraph text */
#auth-container p {
    text-align: center;
    margin-top: 15px;
}

#auth-container p a {
    color: #4db6ac;
    text-decoration: none;
}

#auth-container p a:hover {
    text-decoration: underline;
}

#bookButton {
    background: linear-gradient(to right, #63b3ed, #4299e1);
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    font-size: 20px;
    padding: 0.5em 2.5em;
    width: auto;
}

#bookButton:hover {
    background: linear-gradient(to right, #4299e1, #63b3ed);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

#signButton {
    background: linear-gradient(to right, #63b3ed, #4299e1);
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    font-size: 16px;
    padding: 0.5em 2.5em;
    width: auto;
}

#signButton:hover {
    background: linear-gradient(to right, #4299e1, #63b3ed);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.error-message {
    color: red;
    font-size: 0.9em; /* Adjust size if needed */
    margin-top: 5px;  /* Add a little space below the input */
}

@font-face {
    font-family: 'Milker';
    src: url('fonts/Milker.woff2') format('woff2'),
         url('fonts/Milker.woff') format('woff'),
         url('fonts/Milker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ... (Other styles) ... */

.nav-left .logo-text {
    font-family: 'Milker', sans-serif; /* Apply Milker font */
    font-size: 3rem;
    font-weight: 600;
    color: #63b3ed;
}